.event-cards-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  width: 320px;
  padding: 15px;
  border-radius: 25px;
  background-color: rgb(237, 216, 216);
  box-shadow: -2px 2px 20px;
}

.calendar-general-container {
  margin-bottom: 45px;
}

.event-title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.event-items {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.ul-band {
  list-style: inside;
  font-size: 1em;
}

.event-description {
  margin-top: 20px;
  color: black;
}

.event-buttons-container {
  display: flex;
  justify-content: flex-end;
}

.del-button-event {
  color: rgb(56, 169, 187);
  margin-top: 20px;
  font-size: 2em;
  border: none;
  outline: none;
  background-color: rgb(237, 216, 216);
}

.nothing-here {
  font-size: 1.5em;
  text-align: center;
  color: white;
}