body {
  background-color: rgb(190 50 90);
}

a {
  color: white;
}

.input-1 {
  width: 300px;
  border: none;
  border-radius: 25px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: white;
}

.input-1:focus {
  outline: rgb(130 200 211) 2px solid;
}

.first-button {
  margin-top: 25px;
}

.button-1 {
  /* width: 100%; */
  width: 325px;
  border: none;
  border-radius: 25px;
  padding: 15px;
  background-color: rgb(130 200 211);
  color: white;
  margin: 10px 0;
}