.event-cards-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.reset-button {
  border: none;
  outline: none;
  background-color: rgb(190 50 90);
}